<div class="coffee_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h1 class="coffee_taital">Our Shop's Offer</h1>
          </div>
       </div>
    </div>
    <div class="coffee_section_2">
       <div id="main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
             <div class="carousel-item active">
                <div class="container-fluid">
                   <div class="row">
                      <div class="col-lg-3 col-md-6">
                         <div class="coffee_img"><img src="/images/img-1.png"></div>
                         <div class="coffee_box">
                            <h3 class="types_text">COFFEE</h3>
                            <p class="looking_text">Selling the best coffee to your likings!</p>
                            <div class="read_bt"><a href="/shop#coffee">Read More</a></div>
                         </div>
                      </div>
                      <div class="col-lg-3 col-md-6">
                         <div class="coffee_img"><img src="/images/img-2.png"></div>
                         <div class="coffee_box">
                            <h3 class="types_text">FOOD</h3>
                            <p class="looking_text">Hungry for some? Just tell me what you'd like to eat!</p>
                            <div class="read_bt"><a href="/shop#food">Read More</a></div>
                         </div>
                      </div>
                      <div class="col-lg-3 col-md-6">
                         <div class="coffee_img"><img src="/images/img-3.png"></div>
                         <div class="coffee_box">
                            <h3 class="types_text">DRINKS</h3>
                            <p class="looking_text">We sell more than just coffee here!</p>
                            <div class="read_bt"><a href="/shop#drink">Read More</a></div>
                         </div>
                      </div>
                      <div class="col-lg-3 col-md-6">
                         <div class="coffee_img"><img src="/images/img-4.png"></div>
                         <div class="coffee_box">
                            <h3 class="types_text">DESSERTS</h3>
                            <p class="looking_text">If you want to have something to go with your drinks</p>
                            <div class="read_bt"><a href="/shop#dessert">Read More</a></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-3 col-md-6">
                        <div class="coffee_img"><img src="/images/img-1.png"></div>
                        <div class="coffee_box">
                           <h3 class="types_text">COFFEE</h3>
                           <p class="looking_text">Selling the best coffee to your likings!</p>
                           <div class="read_bt"><a href="/shop#coffee">Read More</a></div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="coffee_img"><img src="/images/img-2.png"></div>
                        <div class="coffee_box">
                           <h3 class="types_text">FOOD</h3>
                           <p class="looking_text">Hungry for some? Just tell me what you'd like to eat!</p>
                           <div class="read_bt"><a href="/shop#food">Read More</a></div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="coffee_img"><img src="/images/img-3.png"></div>
                        <div class="coffee_box">
                           <h3 class="types_text">DRINKS</h3>
                           <p class="looking_text">We sell more than just coffee here!</p>
                           <div class="read_bt"><a href="/shop#drink">Read More</a></div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="coffee_img"><img src="/images/img-4.png"></div>
                        <div class="coffee_box">
                           <h3 class="types_text">DESSERTS</h3>
                           <p class="looking_text">If you want to have something to go with your drinks</p>
                           <div class="read_bt"><a href="/shop#dessert">Read More</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-3 col-md-6">
                        <div class="coffee_img"><img src="/images/img-1.png"></div>
                        <div class="coffee_box">
                           <h3 class="types_text">COFFEE</h3>
                           <p class="looking_text">Selling the best coffee to your likings!</p>
                           <div class="read_bt"><a href="/shop#coffee">Read More</a></div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="coffee_img"><img src="/images/img-2.png"></div>
                        <div class="coffee_box">
                           <h3 class="types_text">FOOD</h3>
                           <p class="looking_text">Hungry for some? Just tell me what you'd like to eat!</p>
                           <div class="read_bt"><a href="/shop#food">Read More</a></div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="coffee_img"><img src="/images/img-3.png"></div>
                        <div class="coffee_box">
                           <h3 class="types_text">DRINKS</h3>
                           <p class="looking_text">We sell more than just coffee here!</p>
                           <div class="read_bt"><a href="/shop#drink">Read More</a></div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="coffee_img"><img src="/images/img-4.png"></div>
                        <div class="coffee_box">
                           <h3 class="types_text">DESSERTS</h3>
                           <p class="looking_text">If you want to have something to go with your drinks</p>
                           <div class="read_bt"><a href="/shop#dessert">Read More</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
          </a>
          <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
          </a>
       </div>
    </div>
 </div>