/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
.ftco-animate {
    opacity: 0;
    visibility: hidden; }
  
* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.header_bg {
    width: 100%;
    float: left;
    background: #1d1d1d;
    height: auto;
    background-size: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.col-md-12

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 30px 20px 10px 20px;
    font-size: 17px;
    color: #fefefd;
    text-transform: uppercase;
    background-color: transparent;
    margin: 0px 5px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fefefd;
    background-color: #f01c1c;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fefefd;
    background-color: #f01c1c;
}

.navbar-brand {
    margin: 0px;
    float: right;
}

.navbar {
    padding: 0px 0px 20px 0px;
}

.user_icon {
    padding-right: 15px;
}

.login_bt {
    width: 210px;
    margin-top: 28px;
}

.login_bt ul {
    margin: 0px;
    padding: 0px;
}

.login_bt li a {
    float: left;
    font-size: 18px;
    color: #fefefd;
    text-transform: uppercase;
    padding: 0px 0px 0px 50px;
}

.login_bt li a:hover {
    color: #f01c1c;
}

.navbar-brand{
    margin-top: 20px;
}


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding: 90px 0px 140px 0px;
}

.banner_taital_main {
    width: 100%;
    float: left;
}

.banner_taital {
    width: 100%;
    font-size: 80px;
    color: #fefefd;
    font-weight: 800;
    line-height: 90px;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    margin: 20px 0px 0px 0px;
}

.btn_main {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.about_bt {
    width: 175px;
    float: left;
}

.about_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #fefefd;
    color: #1c130f;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.about_bt a:hover {
    color: #fefefd;
    background-color: #f01c1c;
}


.about_bt.active a {
    color: #fefefd;
    background-color: #f01c1c;
}

.callnow_bt {
    width: 175px;
    float: left;
}

.callnow_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #fefefd;
    color: #1c130f;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.callnow_bt a:hover {
    color: #fefefd;
    background-color: #f01c1c;
}

#banner_slider a.carousel-control-prev {
    left: 0px;
    top: 411px;
    right: 60px;
}

#banner_slider a.carousel-control-next {
    right: 0px;
    top: 411px;
    left: 60px;
    color: #fefefd;
    background-color: #f01c1c;
}

#banner_slider .carousel-control-next,
#banner_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #4a4949;
    background-color: #efefef;
    margin: 0 auto;
    text-align: center;
}

#banner_slider .carousel-control-next:focus,
#banner_slider .carousel-control-next:hover,
#banner_slider .carousel-control-prev:focus,
#banner_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #f01c1c;
}

.banner_img {
    width: 100%;
    float: left;
    text-align: center;
}


/* banner section end */

/* about section start */

.about_section {
    width: 100%;
    float: left;
}

.about_section_2 {
    width: 100%;
    float: left;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0px;
}

.about_taital_box {
    width: 100%;
    float: left;
    padding-top: 15px;
}

.about_img {
    width: 100%;
}

.about_taital_1 {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #3b3b3b;
    margin: 10px 0px;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #232222;
    margin: 0px;
}

.readmore_btn {
    width: 170px;
    float: left;
    margin-top: 40px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f01c1c;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #f01c1c;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.readmore_btn a:hover {
    color: #4a4949;
    border: 1px solid #4a4949;
}


/* about section end */

/* coffee section start */

.coffee_section {
    width: 100%;
    float: left;
}

.coffee_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.coffee_section_2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.coffee_img img {
    width: 100%;
    float: left;
}
.coffee_box {
    width: 100%;
    float: left;
    background-color: #242c2f;
    height: auto;
    padding: 20px 20px;
}
.coffee_box:hover {
    background-color: #f01c1c;
}

.types_text {
    width: 100%;
    float: left;
    font-size: 22px;
    color: #fefefd;
    text-align: center;
    font-weight: bold;
}

.looking_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #fefefd;
    text-align: center;
    margin: 0px;
}

.read_bt {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fefefd;
    text-transform: uppercase;
    padding: 8px;
}

.read_bt a:hover {
    color: #fefefd;
    border: 1px solid #fefefd;
}

#main_slider a.carousel-control-prev {
    left: -50px;
    top: 170px;
}

#main_slider a.carousel-control-next {
    right: -50px;
    top: 170px;

}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #fefefd;
    background-color: #4a4949;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #f01c1c;
}


/* coffee section end */


/* client section start */

.client_section {
    width: 100%;
    float: left;
}

.client_section_2 {
    width: 100%;
    float: left;
}

.client_taital_main {
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.client_left {
    width: 20%;
    float: left;
}

.client_img {
    width: 90%;
}

.client_right {
    width: 80%;
    float: left;
    padding-top: 20px;
}

.moark_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #3b3b3b;
    font-weight: bold;
}

.client_text {
    width: 75%;
    float: left;
    font-size: 16px;
    color: #3b3b3b;
    margin: 0px;
}

#custom_slider a.carousel-control-prev {
    left: initial;
    top: 190px;
    right: -50px;
    color: #fefefd;
    background-color: #dc8977;
}

#custom_slider a.carousel-control-next {
    right: -50px;
    top: 130px;

}

#custom_slider .carousel-control-next,
#custom_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #fefefd;
    background-color: #4a4949;
}

#custom_slider .carousel-control-next:focus,
#custom_slider .carousel-control-next:hover,
#custom_slider .carousel-control-prev:focus,
#custom_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #dc8977;
}


/* client section end */

/* blog section start */

.blog_section {
    width: 100%;
    float: left;
}

.blog_section_2 {
    width: 100%;
    float: left;
    padding-top: 60px;
}

.blog_box {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px;
    padding: 0px 0px 30px 0px;
}

.blog_img {
    width: 100%;
}

.date_text {
    width: 100px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: #f01c1c;
    position: absolute;
    top: 0px;
}

.prep_text {
    width: 100%;
    font-size: 20px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    color: #3b3b3b;
    margin: 0px;
    padding: 0px 20px;
}

.read_btn {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

.read_btn a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #f01c1c;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #f01c1c;
    text-transform: uppercase;
    padding: 8px;
}

.read_btn a:hover {
    color: #3b3b3b;
    border: 1px solid #3b3b3b;
}

/* blog section end */


/* contact section start */

.contact_section {
    width: 100%;
    float: left;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #252525;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contact_section_2 {
    width: 100%;
    float: left;
    padding-top: 55px;
}

.padding_left_0 {
    padding-left: 0px;
}

.mail_section_1 {
    width: 50%;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2e2e2d;
    border: 0px;
    background-color: #efefef;
    padding: 11px 20px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
}

input.mail_text::placeholder {
    color: #2e2e2d;
}

.massage-bt {
    color: #2e2e2d;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #efefef;
    padding: 40px 20px 0px 20px;
    border: 0px;
    height: 110px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
}

textarea#comment.massage-bt::placeholder {
    color: #2e2e2d;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fefefd;
    background-color: #f01c1c;
    padding: 10px;
    margin-top: 20px;
    display: block;
    border-radius: 40px;
}

.send_bt a:hover {
    color: #161616;
    background-color: #efefef;
}

.map_main {
    width: 100%;
    float: left;
    margin-top: 90px;
}


/* contact section end */


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    height: auto;
    background-color: #1d1d1d;
    background-size: 100%;
    padding: 50px 0px;
}

.address_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
    color: #fefefd;
    font-weight: bold;
    padding-bottom: 50px;
}

.footer_text {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
}

.location_text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.location_text li {
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 0px 10px 5px 10px;
}

.location_text li a {
    color: #ffffff;
}

.location_text li a:hover {
    color: #f01c1c;
}

.padding_left_10 {
    padding-left: 10px;
}

.social_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.footer_social_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer_social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.footer_social_icon li {
    float: left;
}

.footer_social_icon li a {
    float: left;
    padding: 5px 10px;
    background-color: #fff;
    color: #1d1d1d;
    border-radius: 100%;
    font-size: 19px;
    margin-right: 5px;
    width: 44px;
    text-align: center;
    margin-top: 10px;
}

.footer_social_icon li a:hover {
    background-color: #ffffff;
    color: #f01c1c;
}

.update_mail {
    color: #383838;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 10px 20px 0px 20px;
    background-color: #efefef;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 20px;
    border: 1px solid #f01c1c;
}

textarea#comment.update_mail::placeholder {
    color: #383838;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.subscribe_bt {
    width: 70px;
    float: left;
    padding-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    color: #fefefd;
    font-size: 16px;
    padding: 13px 0px 14px 0px;
    background-color: #f01c1c;
    text-transform: uppercase;
    text-align: center;
}

.subscribe_bt a:hover {
    color: #fefefd;
    background-color: #f01c1c;
}


/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #f01c1c;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
}

.copyright_text a {
    color: #fefefd;
}

.copyright_text a:hover {
    color: #252525;
}


/* copyright section end */

.margin_top90 {
    margin-top: 90px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
.col-lg-12 {
-webkit-box-flex: 0;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%; }

.ftco-menu {
    padding-top: 7em; }
    @media (max-width: 991.98px) {
      .ftco-menu .f-menu-img {
        height: 300px; } }

.d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }

    .ftco-menu {
        position: relative;
        width: 100%;
        display: block; }
        .ftco-menu .nav-pills p {
          margin-bottom: 0; }
        .ftco-menu .nav-pills .nav-link {
          border-radius: 0;
          margin-bottom: 0;
          color: #c49b63;
          font-size: 18px;
          font-weight: 400;
          position: relative;
          display: inline-block;
          border-bottom: 1px solid #c49b63;
          margin-left: 5px;
          margin-right: 5px; }
          .ftco-menu .nav-pills .nav-link.active, .ftco-menu .nav-pills .nav-link:hover {
            color: black;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            background: #c49b63;
            border-bottom: 1px solid transparent; }
            .ftco-menu .nav-pills .nav-link.active:after, .ftco-menu .nav-pills .nav-link:hover:after {
              opacity: 1; }
            @media (max-width: 767.98px) {
              .ftco-menu .nav-pills .nav-link.active:after, .ftco-menu .nav-pills .nav-link:hover:after {
                opacity: 0; } }
          @media (max-width: 767.98px) {
            .ftco-menu .nav-pills .nav-link {
              display: block;
              width: 100%;
              margin-bottom: 5px; } }

.menu-wrap {
margin-bottom: 60px; }
.menu-wrap .menu-img {
    display: block;
    height: 270px; }
.menu-wrap .text h3 {
    font-size: 18px;
    text-transform: uppercase; }
    .menu-wrap .text h3 a {
    color: #000; }
.menu-wrap .text .price {
    font-size: 18px;
    font-weight: 400; }
    .menu-wrap .text .price span {
    color: #000; }

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important; }

.hero-wrap,
.img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

.menu-entry {
    margin-bottom: 30px; }
    .menu-entry .img {
        display: block;
        height: 200px; }
    .menu-entry .text h3 {
        font-size: 18px;
        text-transform: uppercase; }
        .menu-entry .text h3 a {
        color: #000; }
    .menu-entry .text .price span {
        color: #000;
        font-size: 18px; }

.ftco-section .ftco-sub-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: #d4d4d4;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 300; }
    
    .ftco-section .ftco-primary-title {
    margin-top: 0;
    margin-bottom: 30px; }

.ftco-section {
    padding: 7em 0;
    position: relative; }
    @media (max-width: 767.98px) {
        .ftco-section {
        padding: 6em 0; } }

    .image-popup {
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in; }

.product-details h3 {
    text-transform: uppercase;
    font-size: 34px; }
    
    .product-details .price span {
    font-size: 30px;
    color: #f8b500; }
    
    .product-details button i {
    color: #c49b63; }
    
    .product-details .quantity-left-minus {
    background: transparent;
    padding: 16px 20px; }
    
    .product-details .quantity-right-plus {
    background: transparent;
    padding: 16px 20px; }
    
    .product-details button, .product-details .form-control {
    height: 54px !important;
    text-align: center;
    bordeR: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: #c49b63 !important;
    padding: 10px 20px; }
    
    .product-details .form-group {
    position: relative; }
    .product-details .form-group .form-control {
        padding-right: 40px; }
    .product-details .form-group .icon {
        position: absolute;
        top: 50%;
        right: 20px;
        font-size: 14px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #c49b63; }
        .product-details .form-group .icon span {
        color: #c49b63; }
        @media (max-width: 767.98px) {
        .product-details .form-group .icon {
            right: 10px; } }
    .product-details .form-group .select-wrap {
        position: relative; }
        .product-details .form-group .select-wrap select {
            color: gray;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }